<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="datagridviewgetvalues.Properties.Settings.baoziDatabaseConnectionString"
            connectionString="Data Source=I6ZPC35HS2C8X1X;Initial Catalog=baoziDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>